.hackathon_indexerstats_progress {
    height: 1.5em;
    position: relative;
    background: #555;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 1px;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    -moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
    box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
}
.hackathon_indexerstats_progress > span {
    display: block;
    height: 100%;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(60,184,97);
    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0, rgb(60,184,97)),
            color-stop(1, rgb(79,198,115))
    );
    background-image: -webkit-linear-gradient(
            center bottom,
            rgb(60,184,97) 37%,
            rgb(79,198,115) 69%
    );
    background-image: -moz-linear-gradient(
            center bottom,
            rgb(60,184,97) 37%,
            rgb(79,198,115) 69%
    );
    background-image: -ms-linear-gradient(
            center bottom,
            rgb(60,184,97) 37%,
            rgb(79,198,115) 69%
    );
    background-image: -o-linear-gradient(
            center bottom,
            rgb(60,184,97) 37%,
            rgb(79,198,115) 69%
    );
    -webkit-box-shadow:
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
    -moz-box-shadow:
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
}
.hackathon_indexerstats_not_in_time > span {
    background-color: rgb(245,86,0);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, rgb(245,86,0)),color-stop(1, rgb(228,17,1)));
    background-image: -webkit-linear-gradient(top, rgb(245,86,0), rgb(228,17,1));
    background-image: -moz-linear-gradient(top, rgb(245,86,0), rgb(228,17,1));
    background-image: -ms-linear-gradient(top, rgb(245,86,0), rgb(228,17,1));
    background-image: -o-linear-gradient(top, rgb(245,86,0), rgb(228,17,1));
}
.hackathon_indexerstats_not_in_time span {
    -webkit-border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    -moz-border-radius-bottomright: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
@keyframes progress_move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50px 50px;
    }
}
.hackathon_indexerstats_progress > span > span {
    animation: progress_move 2s linear infinite;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-image:
    -webkit-gradient(linear, 0 0, 100% 100%,
    color-stop(.25, rgba(255, 255, 255, .2)),
    color-stop(.25, transparent), color-stop(.5, transparent),
    color-stop(.5, rgba(255, 255, 255, .2)),
    color-stop(.75, rgba(255, 255, 255, .2)),
    color-stop(.75, transparent), to(transparent)
    );
    background-image:
    -webkit-linear-gradient(
            -45deg,
            rgba(255, 255, 255, .2) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, .2) 50%,
            rgba(255, 255, 255, .2) 75%,
            transparent 75%,
            transparent
    );
    background-image:
    -moz-linear-gradient(
            -45deg,
            rgba(255, 255, 255, .2) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, .2) 50%,
            rgba(255, 255, 255, .2) 75%,
            transparent 75%,
            transparent
    );
    background-image:
    -ms-linear-gradient(
            -45deg,
            rgba(255, 255, 255, .2) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, .2) 50%,
            rgba(255, 255, 255, .2) 75%,
            transparent 75%,
            transparent
    );
    background-image:
    -o-linear-gradient(
            -45deg,
            rgba(255, 255, 255, .2) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, .2) 50%,
            rgba(255, 255, 255, .2) 75%,
            transparent 75%,
            transparent
    );
    z-index: 1;
    -webkit-background-size: 50px 50px;
    -moz-background-size:    50px 50px;
    background-size:         50px 50px;
    -webkit-animation: move 2s linear infinite;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
}
.hackathon_indexerstats_progress > div {
    position: absolute;
    text-align: center;
    font-weight: bold;
    color: #fff;
    top: 0;
    left: 0;
    width: 100%;
}
.hackathon_indexerstats_progress .hackathon_indexerstats_avgruntime {
    display: none;
}
